.input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid rgba(0, 255, 255, 0.075);
  background: rgba(0, 255, 255, 0.1);
  border-radius: 0.5em;
  font-size: 1em;
  color: rgba(var(--gray-rgb), 0.8);
  font-weight: 700;
  font-size: 1.6em;
}

.input::placeholder {
  color: rgba(var(--gray-rgb), 0.2);
}

.input:focus {
  outline: none;
  border-color: rgba(60, 120, 120, 0.75);
}
