.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.form {
  padding: 2em 2.5em;
  border-radius: 1em;
  min-width: 400px;
  border: 1px solid rgba(0, 255, 255, 0.075);
  background: rgba(0, 255, 255, 0.025);
}

.form h2 {
  margin-bottom: 0.5em;
}

.form input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid rgba(0, 255, 255, 0.075);
  background: rgba(0, 255, 255, 0.1);
  border-radius: 0.5em;
  font-size: 1em;
  color: rgba(var(--gray-rgb), 0.8);
  font-weight: 700;
  font-size: 1.6em;
}

.form input::placeholder {
  color: rgba(var(--gray-rgb), 0.2);
}

.form input:focus {
  outline: none;
  border-color: rgba(60, 120, 120, 0.75);
}

.section {
  padding: 1em;
}

.list {
  position: relative;
  gap: 0.5em;
  font-family: var(--font-geist-mono);
  letter-spacing: -0.01em;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(var(--gray-rgb), 0.8);
}

.list li:not(:last-of-type) {
  margin-bottom: 8px;
}

.list li > span:first-child::before {
  content: "•";
  padding-right: 0.5em;
}

.list li a {
  transition: all 0.1s ease-in-out;
}

.list li a:hover {
  text-decoration: underline;
  padding-left: 0.2em;
}

.bold {
  font-weight: 600;
}

.big {
  color: rgba(var(--gray-rgb), 0.8);
  font-weight: 700;
  font-size: 1.5em;
}

@media (max-width: 600px) {
  .page {
    padding: 0;
  }

  .main {
    align-items: center;
  }

  .form {
    min-width: auto;
    max-width: 90%;
    padding: 1em;
    border: none;
    background: none;
  }

  .main .list {
    font-size: 0.9em;
  }
}
